.params-bar {
  margin: 0 10px 0 0;
  padding: 20px 10px;
  width: 400px;
  border: 1px solid #bdbdbd;
  height: 100%;
}

.sort {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;

  &__title {
    margin: 0 0 5px;
  }

  &__label {
    margin: 0 0 5px;
  }

  &__input {
    margin: 0 5px 0 0;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;

  &__title {
    margin: 0 0 5px;
  }

  &__label {
    margin: 0 0 5px;
  }

  &__input {
    margin: 0 5px 0 0;
  }
}

.price {
  margin: 0 0 20px;
  &__title {
    margin: 0 0 5px;
  }

  &__input-block {
    margin: 0 0 10px;
  }

  &__input {
    margin: 0 0 0 5px;
  }

}
